<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Options</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose Operation Type</option>
    <option value="1">Add</option>
    <option value="2">Withdraw</option>
  </select>
</div>

<form >

<input type="text" name="OpVal" placeholder="Remaining Balance" value = "{{customer.OpVal}}"><br><br>

<button class="btn btn-warning">Confirm Operation</button>
</form>